[hcw-input] {
    appearance: none;
    border: none;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-md);
    background-color: var(--input-bg);
    color: var(--input-color);
    padding: .75rem .45rem;
    backdrop-filter: blur(.5rem) saturate(3);
    text-shadow: 0 0 .25rem var(--glass-inner-hl);
    transition: var(--transition-fast);
    transition-property: transform, background-color, color, box-shadow;
    cursor: text;
    font-size: 1rem;
    border: .15rem solid #8881;

    &[large] {
        font-size: 1.25rem;
    }

    &:not([disabled]):hover {
        background-color: var(--input-bg-hl);
        color: var(--input-color-hl);
    }

    &[tp] {
        background-color: transparent;
    }

    &[primary]::placeholder {
        opacity: .5;
        color: var(--primary);

        &:hover {
            color: var(--primary-hl);
        }
    }

    &[disabled] {
        filter: saturate(0);
        cursor: not-allowed;
        box-shadow: none;
        color: var(--button-color-disabled);
    }
}